<section class="settings">
  <h2>Settings</h2>
  <div><mat-form-field>
    <mat-select placeholder="Language">
      <mat-option [value]="'English'">
        English
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-select placeholder="Nb. of words">
        <mat-option [value]="5">
          5
        </mat-option>
        <mat-option [value]="10">
          10
        </mat-option>
        <mat-option [value]="20">
          20
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</section>
